.carouselContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.carouselWrapper {
	display: flex;
	width: 100%;
	position: relative;
}

.carouselContentWrapper {
	overflow: hidden;
	width: 95%;
	height: 100%;
	margin: 0 auto;
}

@media (max-width: 960px) {
	.carouselContentWrapper {
		overflow: scroll;
	}
	.carouselContentWrapper::-webkit-scrollbar {
		display: none;
	}	
}