.badge {
	position: absolute;
	left: 0;
	top: 20px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	background: #404040;
	color: #fff;
	padding: 3px 10px;
}

.categoryMainContainer {
	width: 60%;
	margin: 0 auto;
}

.categoryContainer {
	overflow: scroll;
}

.categoryContainer::-webkit-scrollbar {
	display: none;
}

.categoryTitle {
	display: block;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer; 
	margin: 10px;
}

@media (max-width: 960px) {
	.categoryMainContainer {
		width: 95%;
		margin: 0 auto;
	}
}