/* @import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-display: swap;
}

a {
  color: #1c1c84;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  font-display: swap;
}

p {
  min-height: 1em; /* Adjust as necessary */
  line-height: 1.5; /* Ensure consistent spacing */
}

li {
  list-style-type: disc;
  margin-left: 20px;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

table.detailsTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-style: solid;
}

table.detailsTable td,
table.detailsTable th {
  border-width: 2px;
  border-color: #dee2e6;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  border-style: solid;
  padding: 0.75rem;
  text-align: left;
}

table.detailsTable td {
  color: black;
  font-weight: 500;
  font-size: 15px;
}

table.detailsTable tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

table.detailsTable thead tr th {
  background: #1c1c84;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  font-family: Open Sans;
  font-display: swap;
  line-height: 28px;
}

.serializerTitle {
  font-size: 34px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.faq h5 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homePageTitle {
  font-size: 50px;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0px;
  color: #71e2b3;
}

.page-container {
  width: 60%;
  margin: 0 auto;
}

.banner {
  width: 100%;
}

.footer-container {
  background-color: #003770;
  padding: 20px;
  padding-bottom: 20px;
  display: flex;
}

.buttons-and-insta {
  display: inline-grid;
  padding: 20px;
  margin-left: 8%;
}

.footer-li {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  width: '60%';
}

.footer-subContainer {
  background-color: #323c49;
  color: #fff;
  text-align: center;
  padding: 25px;
}

.footer-subContainer a {
  color: #fff;
}

.globalTitleBg {
  background: #1c1c84;
  
}

.globalTitleBg > h1 {
  color: #fff;
  font-size: 46px;
  line-height: 56px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0.67em 0;
}

@media (max-width: 960px) {
  .page-container {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
  }
  .topBarContents {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .footer-container {
    display: block;
  }
  .footer-li {
    columns: 1;
    width: '100%';
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  .topBarBg {
    display: none;
  }
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  table.detailsTable {
    width: max-content;
    overflow-x: auto;
  }
  .navBar {
    top: 0px !important;
  }
  .mainDiv {
    margin-top: 9.8em !important;
  }
}

@media (min-width: 961px) {
  .mobile-menu {
    display: none;
  }
}

.topBarBg {
  background: #1c1c84;
  color: #fff;
  font-weight: 700;
  padding: 10px 0px;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 11;
  top: 0px;
}

.navBar {
  position: fixed;
  top: 56px;
  z-index: 11;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.mainDiv {
  margin-top: 10.7em;
}

.social-icon {
  padding: 10px;
  /* background: #1c1c84; */
  background: linear-gradient(90deg, #71e2b3, #58d1c3 35%, #48bcd1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 3px;
}

.topBarContents {
  display: flex;
  justify-content: space-between;
  z-index: 11;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.topBarContents a {
  color: #fff !important;
}

.whatsappBtn {
  -webkit-animation: bounce 0.3s infinite alternate;
  -moz-animation: bounce 0.3s infinite alternate;
  animation: bounce 0.3s infinite alternate;
}

@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.2);
  }
}

.textBounce {
  -webkit-animation: tbounce 0.3s infinite alternate;
  -moz-animation: tbounce 0.3s infinite alternate;
  animation: tbounce 0.3s infinite alternate;
}

@-webkit-keyframes tbounce {
  to {
    -webkit-transform: scale(1.05);
  }
}
@-moz-keyframes tbounce {
  to {
    -moz-transform: scale(1.05);
  }
}
@keyframes tbounce {
  to {
    transform: scale(1.05);
  }
}

.button-footer {
  background: linear-gradient(90deg, #71e2b3, #58d1c3 35%, #48bcd1);
  padding: 0.5em 1em;
  color: #fff;
  outline: none;
  height: 40px;
  width: 100%;
  border: none;
  margin-top: 10%;
  border-radius: 1.8em 1.5em 1.5em 0;
  cursor: pointer;
}
