.slider {
  position: relative;
  height: 70vh;
  margin: 10px auto 0;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
	object-position: center top;
}

/* .slide::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(transparent,rgba(0,0,0,.95));
	bottom: 0;
	left: 0;
} */

.right-arrow {
  position: absolute;
  top: 50%;
  color: #fff;
	width: 40px;
	height: 40px;
  right: 10px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  color: #fff;
	width: 40px;
	height: 40px;
	left: 10px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
	/* visibility: hidden; */
  /* transform: scale(1.08); */
}

.sliderTitle {
	top: 33%;
	left: 36%;
	font-weight: 900;
	margin: 0 auto;
	font-size: 64px;
	line-height: 1;
}
.sliderSubTitle {
	top: 47%;
	left: 40%;
	font-size: 16px;
	line-height: 1.5;
	margin: 10px auto;
	display: block;
}
.sliderBtn {
	top: 57%;
	left: 48%;
}

.sliderTitle, .sliderSubTitle, .sliderBtn {
	position: absolute;
	color: #fff;
}

/* Carousel Controller CSS */

.carousel-content {
	display: flex;
	transition: all 250ms linear;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
	display: none;
}

.carousel-content > * {
	width: 100%;
	flex-shrink: 0;
	flex-grow: 1;
}

.carousel-content.show-2 > * {
	width: 50%;
}

.carousel-content.show-3 > * {
	width: calc(100% / 3);
}

.carousel-content.show-4 > * {
	width: calc(100% / 4);
}

.carousel-left-arrow, .carousel-right-arrow {
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	width: 48px;
	height: 48px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 50%;
	cursor: pointer;
}

.carousel-left-arrow {
	left: -15px;
}

.carousel-right-arrow {
	right: -15px;
}

@media (hover: none) and (pointer: coarse) {
	.carousel-left-arrow, .carousel-right-arrow {
			display: none;
	}
}

/* Carousel Controller CSS */


@media (max-width: 960px) {
	.slider {
		height: calc(100% - 30%);
	}
	/* .sliderTitle {
		top: 5%;
    left: 25%;
		font-size: 20px;
	}
	.sliderSubTitle {
		top: 10%;
    left: 0%;
    text-align: center;
	} */
}